/* Styling the language switcher button */
.language-toggle {
    display: inline-block;
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
    background-color: #f9f9f9;
    margin-bottom: 12px;
}

.language-toggle span {
    padding: 0 8px;
}

.language-toggle span.separator {
    color: #888;
}

.language-toggle .active {
    font-weight: bold;
    color: #b22222;
}

.language-toggle .inactive {
    color: #666;
    cursor: pointer;
}

/* Reference */
ol.custom-counter {
    list-style-type: none; /* Remove default numbering */
    counter-reset: list-counter; /* Reset counter */
}

ol.custom-counter li {
    counter-increment: list-counter; /* Increment counter */
}

ol.custom-counter li::before {
    content: "[" counter(list-counter) "] "; /* Display counter with brackets */
}

/* CSS for limiting image size in the blog */
img {
    max-width: 100%; /* Ensures images do not exceed the width of their container */
    height: auto;    /* Maintains aspect ratio */
    display: block;  /* Ensures that images do not have extra space below them */
    margin: 0 auto;  /* Centers the image in its container */
}
figcaption {
    color: gray; /* Set text color to gray */
    font-style: italic; /* Optional: Make the text italic */
    font-size: 0.9em; /* Optional: Adjust font size */
    margin-top: 0.5em; /* Optional: Add space above the caption */
}
